/*  your css code here. If applicable */
table {
  border-collapse: separate; /* allow border-radius to work */
  border-spacing: 0; /* remove gaps */
  width: 50%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}
